*{
    box-sizing: border-box;
}

.container{
    background-color: beige;
    padding: 5px 40px 15px 25px;
    border:1px solid rgb(177, 176, 176);
}

body{
    font-size: 18px;
    margin: 15px 30px;
    padding: 10px;
}

h1{
    color: rgb(24, 114, 84);
    text-align: center;
}
h2{
    color:#510a6d;
}

fieldset,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width:100%;
    padding: 13px;
    border: 1px solid #000;
    border-radius: 5px;
    margin:5px;
}
input[type="submit"],
input[type="reset"]{
    background-color: rgb(19, 44, 66);
    color:aliceblue;
    padding: 12px 20px;
    text-align: "center";
    border:none;
    border-radius: 5px;
    width:20%;
}

input[type="submit"]:hover{
    background-color: rgb(19, 126, 94);
}
input[type="reset"]:hover{
    background-color: rgb(19, 126, 94);
}